@import "tailwindcss";

/* Твої кастомні стилі */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; /* прибирає синій квадрат при тапі на мобілці */
}
body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.grain-effect {
  position: absolute;
  inset: 0;
  z-index: 15;
  opacity: 0.05;
  pointer-events: none;
  background-image: url("https://media.giphy.com/media/oEI9uWUicKgH6/giphy.gif");
}